body {
  
  background-image: url(/public/bg-img.jpeg);
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(28, 26, 94) !important;
}

.quiz-container {
  width: 37.5rem;
  margin: 20px auto;
  padding: 30px 40px;
  border: 1px solid #444;
  border-radius: 10px;
  background-color: #023047;
}

.question {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.answers {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-wrapper {
  margin: 5px 0;
}

.answer {
  width: 300px; /* Fixed button width */
  padding: 10px;
  background-color: #f0f0f000;
  color: #fff;
  border: 1px solid #ffb703;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.answer:hover {
  background-color: #ffb703;
  border: 1px solid #ffb703;
}
.answer:active{
  background-color: #ffb703 !important;
  border: 1px solid #ffb703 !important;
}

.controls {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.progress {
  width: 100%;
  border: 1px solid #ffb703;
  background-color: rgba(255, 0, 0, 0);
  border-radius: 5px;
}

.progress-bar {
  width: 10%; /* Update this value as the quiz progresses */
  background-color: #ffb703; /* Highlight color for the progress bar */
}

.question-count {
  font-size: 16px;
  color: #ffffff;
}

.btn {
  padding: 10px 20px;
}
.next-btn{
  background: #ffdead00;
    border: none;
    font-size: 19px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background: #ffdead00;
}

.disabled{
  background: rgba(255, 255, 255, 0) !important;
  color: rgba(255, 255, 255, 0.575);
}


.correct-answer {
  background-color: #4CAF50 !important; 
}

.wrong-answer {
  background-color: #f44336 !important; 
}
